* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: sans-serif;
}

.header {
  height: 60px;
  width: 100%;
  background-color: #131f2b;
}

.logo {
  float: left;
  height: 100%;
  width: 8%;
  margin-left: 40px;
}

.amazonprime {
  height: 60px;
  width: 100px;
}

.leftnav li {
  float: left;
  height: 20px;
  list-style: none;
  margin: 20px 10px;
}

.leftnav li a {
  color: #bec1c6;
  font-size: 15px;
  text-decoration: none;
}

.leftnav li a:hover {
  font-color: #bec1c6;
}

.select0 {
  background-color: #131f2b;
  color: #bec1c6;
  border: 1px solid #131f2b;
  font-size: 15px;
}

.leftnav li:first-child {
  margin-left: 0px;
}

.rightnav .search {
  float: right;
  width: 15%;
  height: 40px;
  padding: 10px;
  position: relative;
  display: flex;
  margin-right: 10px;
}

.rightnav .searchTerm {
  width: 100%;
  border: 2px solid #bec1c6;
  border-right: none;
  padding: 5px;
  border-radius: 1px 1px 0px 1px;
  outline: none;
  background-color: #131f2b;
}
.rightnav .searchTerm:focus {
  color: #bec1c6;
}
.rightnav .searchButton {
  width: 40px;
  height: 40px;
  border: 2px solid #bec1c6;
  border-left: none;
  background: #131f2b;
  text-align: center;
  color: #bec1c6;
  border-radius: 0 1px 1px 0;
  cursor: pointer;
  font-size: 20px;
}

.ctnr {
  width: 100%;
  height: 650px;
}

.ctnrleft {
  float: left;
  width: 50%;
  height: 650px;
  background-color: #061018;
}

.cont {
  height: 80%;
  margin: 5% 0% 5% 8%;
}

h1 {
  color: #dbdcdd;
  margin-bottom: 10px;
}

.season {
  height: 50px;
  width: 600px;
  margin-bottom: 8px;
}

.img {
  opacity: 0.9;
  height: 650px;
  width: 50%;
  float: right;
}

.select1 {
  border: 2px solid #405165;
  background-color: #405165;
  height: 40px;
  width: 100px;
  margin-top: 5px;
  color: #bec1c6;
  text-align: center;
}

.season li {
  float: left;
  color: #405165;
  height: 20px;
  list-style: none;
}

.season li.fa {
  color: #9fa7b1;
}

.imdb {
  margin: 15px 0px 15px 15px;
}

.season li p {
  margin: 15px;
  font-size: 15px;
  color: #c5cacf;
}

.season li p.rating {
  margin-left: 0px;
  margin-right: 0px;
}

.episode {
  height: 60px;
  width: 600px;
  margin-bottom: 8px;
}

.select2 {
  border: 2px solid #131f2b;
  background-color: #0892d0;
  height: 50px;
  width: 180px;
  margin: 5px 0px;
  color: #dbdcdd;
  text-align: center;
}

.episode li {
  float: left;
  color: #131f2b;
  height: 20px;
  list-style: none;
}

.add {
  margin: 15px 0px 15px 15px;
}

.episode li.fa {
  background-color: #131f2b;
  color: #9fa7b1;
  font-size: 50px;
}

.cont p {
  margin-right: 5px;
  font-size: 17px;
  color: #d5d6d7;
  margin-bottom: 10px;
}

table {
  color: #405165;
  font-family: sans-serif;
  margin-bottom: 70px;
}

.tam {
  padding-right: 10px;
  text-align: left;
}
.ta {
  color: #507ca4;
}

.tan {
  color: #405165;
}

footer {
  color: #405165;
}

footer a {
  text-decoration: none;
  color: #507ca4;
}
